.header {
  background: color($sand shade(5%));
  color: white;
  margin-bottom: $m-size;
  padding: $m-size 0;
  

  &__title {
      font-size: $xl-size;
      margin: 0;
  }

  &__subtitle {
      color: color($sand tint(90%));
      font-size: $l-size;
      font-weight: 500;
      margin: 0;
  }

  @media (width >= $desktop-breakpoint) {
    margin-bottom: $xl-size;
  }
}