/* Widget */
.widget {
	background-color: $light-blue;
	margin-bottom: $xl-size;

	&__message {
		border-bottom: 1px solid color($light-blue shade(10%));
		color: $off-white;
		margin: 0;
		padding: $l-size;
		text-align: center;
	}
}

/* Widget Header */
.widget-header {
	background-color: $blue;
	color: $off-white;
	display: flex;
	justify-content: space-between;
	padding: $m-size;

	&__title {
		margin: 0;
	}
}