@font-face{
  font-family: "Josefin Slab";
  font-style: italic;
  font-weight: 100;
  src: local("Josefin Slab Thin Italic"),local(JosefinSlab-ThinItalic),url(//fonts.gstatic.com/s/josefinslab/v7/8BjDChqLgBF3RJKfwHIYh64TT5J8ULaPC23bJYiVmx8.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/8BjDChqLgBF3RJKfwHIYh7E63cHX5PwrPrCPBczlasc.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/8BjDChqLgBF3RJKfwHIYh6EyK9Hr0SO5vc2-ZCW-Yes.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: italic;
  font-weight: 300;
  src: local("Josefin Slab Light Italic"),local(JosefinSlab-LightItalic),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJulyyH_XWDaITL6s384ufbsW_o.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJuly3M1hBkL4m68a-ReB_y0NYc.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJuly20Xvi9kvVpeKmlONF1xhUs.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: italic;
  font-weight: 400;
  src: local("Josefin Slab Italic"),local(JosefinSlab-Italic),url(//fonts.gstatic.com/s/josefinslab/v7/etsUjZYO8lTLU85lDhZwUjoGYR7Z3iWH66EXnaJoKgg.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/etsUjZYO8lTLU85lDhZwUhMBlNeli-0RcAdOFWWLdxQ.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/etsUjZYO8lTLU85lDhZwUnpumDtkw9GHrrDfd7ZnWpU.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: italic;
  font-weight: 600;
  src: local("Josefin Slab SemiBold Italic"),local(JosefinSlab-SemiBoldItalic),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJulyxHNzmFb2hSkh0OZsv7eSbE.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJuly0rrE62zycmuf6NB1JeYrwM.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJuly6xza3rXaV_G32gF04a66fI.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: italic;
  font-weight: 700;
  src: local("Josefin Slab Bold Italic"),local(JosefinSlab-BoldItalic),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJulyyy7jlJQNiTiB3-MejPw_5E.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJuly0cqRxak6Wc5LUVz-l064SE.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/af9sBoKGPbGO0r21xJuly70qgHI2SEqiJszC-CVc3gY.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 100;
  src: local("Josefin Slab Thin"),local(JosefinSlab-Thin),url(//fonts.gstatic.com/s/josefinslab/v7/etsUjZYO8lTLU85lDhZwUtP2OS6Bzu7BENq0TH5sayk.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/etsUjZYO8lTLU85lDhZwUldBB84BqlWy1BjOnCrU9PY.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/etsUjZYO8lTLU85lDhZwUi1dfeF-hbOdKKuBDEXxqhQ.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 300;
  src: local("Josefin Slab Light"),local(JosefinSlab-Light),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2IySLpARcVRs9uFJp0LRZgE.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2E4GofcKVZz6wtzX_QUIqsI.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2GFp2sMiApZm5Dx7NpSTOZk.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 400;
  src: local("Josefin Slab Regular"),local(JosefinSlab-Regular),url(//fonts.gstatic.com/s/josefinslab/v7/46aYWdgz-1oFX11flmyEfXZ2MAKAc2x4R1uOSeegc5U.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/46aYWdgz-1oFX11flmyEfegdm0LZdjqr5-oayXSOefg.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/46aYWdgz-1oFX11flmyEfXhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 600;
  src: local("Josefin Slab SemiBold"),local(JosefinSlab-SemiBold),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2DBIQ40lcwWW3vj9tFMKvqw.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2PBf3Xtc57ojmY2ox2Xv8Go.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2NOd4RnLmtUrdSQkDmC5b8k.woff) format("woff");
}@font-face{
  font-family: "Josefin Slab";
  font-style: normal;
  font-weight: 700;
  src: local("Josefin Slab Bold"),local(JosefinSlab-Bold),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2GmsoyWrDyoltQVIP7q_RGg.eot?#) format("eot"),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2HNuWYKPzoeKl5tYj8yhly0.woff2) format("woff2"),url(//fonts.gstatic.com/s/josefinslab/v7/NbE6ykYuM2IyEwxQxOIi2Hl4twXkwp3_u9ZoePkT564.woff) format("woff");
}@font-face{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 300;
  src: local("Helvetica Neue Light Italic"),local(HelveticaNeue-LightItalic),local("Helvetica Light Oblique"),local(Helvetica-LightOblique);
}@font-face{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 400;
  src: local("Helvetica Neue Italic"),local(HelveticaNeue-Italic),local("Helvetica Oblique"),local(Helvetica-Oblique);
}@font-face{
  font-family: sans-serif;
  font-style: italic;
  font-weight: 700;
  src: local("Helvetica Neue Bold Italic"),local(HelveticaNeue-BoldItalic),local("Helvetica Bold Oblique"),local(Helvetica-BoldOblique);
}@font-face{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 300;
  src: local("Helvetica Neue Light"),local(HelveticaNeue-Light),local("Helvetica Light"),local(Helvetica-Light);
}@font-face{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local(HelveticaNeue),local(Helvetica);
}@font-face{
  font-family: sans-serif;
  font-style: normal;
  font-weight: 700;
  src: local("Helvetica Neue Bold"),local(HelveticaNeue-Bold),local("Helvetica Bold"),local(Helvetica-Bold);
}@font-face{
  font-family: monospace;
  font-style: italic;
  font-weight: 400;
  src: local("Menlo Italic"),local(Menlo-Italic),local("Consolas Italic"),local(Consolas-Italic),local("Courier New Italic");
}@font-face{
  font-family: monospace;
  font-style: italic;
  font-weight: 700;
  src: local("Menlo Bold Italic"),local(Menlo-BoldItalic),local(Monaco),local("Consolas Bold Italic"),local(Consolas-BoldItalic),local("Courier New Bold Italic");
}@font-face{
  font-family: monospace;
  font-style: normal;
  font-weight: 400;
  src: local("Menlo Regular"),local(Menlo-Regular),local(Monaco),local(Consolas),local("Courier New");
}@font-face{
  font-family: monospace;
  font-style: normal;
  font-weight: 700;
  src: local("Menlo Bold"),local(Menlo-Bold),local(Monaco),local("Consolas Bold"),local(Consolas-Bold),local("Courier New Bold");
}@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:400,400i,700');/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css *//* Document
   ========================================================================== *//**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */html {
  line-height: 1.15; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}/* Sections
   ========================================================================== *//**
 * Remove the margin in all browsers (opinionated).
 */body {
  margin: 0;
}/**
 * Add the correct display in IE 9-.
 */article,
aside,
footer,
header,
nav,
section {
  display: block;
}/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */h1 {
  font-size: 2em;
  margin: 0.67em 0;
}/* Grouping content
   ========================================================================== *//**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */figcaption,
figure,
main { /* 1 */
  display: block;
}/**
 * Add the correct margin in IE 8.
 */figure {
  margin: 1em 40px;
}/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/* Text-level semantics
   ========================================================================== *//**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
}/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */b,
strong {
  font-weight: inherit;
}/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */b,
strong {
  font-weight: bolder;
}/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}/**
 * Add the correct font style in Android 4.3-.
 */dfn {
  font-style: italic;
}/**
 * Add the correct background and color in IE 9-.
 */mark {
  background-color: #ff0;
  color: #000;
}/**
 * Add the correct font size in all browsers.
 */small {
  font-size: 80%;
}/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}sub {
  bottom: -0.25em;
}sup {
  top: -0.5em;
}/* Embedded content
   ========================================================================== *//**
 * Add the correct display in IE 9-.
 */audio,
video {
  display: inline-block;
}/**
 * Add the correct display in iOS 4-7.
 */audio:not([controls]) {
  display: none;
  height: 0;
}/**
 * Remove the border on images inside links in IE 10-.
 */img {
  border-style: none;
}/**
 * Hide the overflow in IE.
 */svg:not(:root) {
  overflow: hidden;
}/* Forms
   ========================================================================== *//**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */button,
input { /* 1 */
  overflow: visible;
}/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */button,
select { /* 1 */
  text-transform: none;
}/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}/**
 * Remove the inner border and padding in Firefox.
 */button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}/**
 * Restore the focus styles unset by the previous rule.
 */button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}/**
 * Correct the padding in Firefox.
 */fieldset {
  padding: 0.35em 0.75em 0.625em;
}/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}/**
 * Remove the default vertical scrollbar in IE.
 */textarea {
  overflow: auto;
}/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}/* Interactive
   ========================================================================== *//*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */details, /* 1 */
menu {
  display: block;
}/*
 * Add the correct display in all browsers.
 */summary {
  display: list-item;
}/* Scripting
   ========================================================================== *//**
 * Add the correct display in IE 9-.
 */canvas {
  display: inline-block;
}/**
 * Add the correct display in IE.
 */template {
  display: none;
}/* Hidden
   ========================================================================== *//**
 * Add the correct display in IE 10-.
 */[hidden] {
  display: none;
}/* colors *//* sizes */html {
    font-size: 62.5%;
}body {
    background-color: rgb(253, 251, 243);
    font-family: 'Josefin Slab', Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    font-size: 1.6rem;
}button {
    cursor: pointer;
}button:disabled {
        cursor: default;
    }button:focus {
        outline: none;
    }button, input, optgroup, select, textarea {
    font-family: 'Josefin Slab', Helvetica, Arial, sans-serif !important;
}.header {
  background: rgb(220, 202, 132);
  color: white;
  margin-bottom: 16px;
  margin-bottom: 1.6rem;
  padding: 16px 0;
  padding: 1.6rem 0;
}.header__title {
      font-size: 48px;
      font-size: 4.8rem;
      margin: 0;
  }.header__subtitle {
      color: rgb(253, 251, 243);
      font-size: 32px;
      font-size: 3.2rem;
      font-weight: 500;
      margin: 0;
  }@media (min-width: 45rem) {.header {
    margin-bottom: 4.8rem
}
  }.container {
    max-width: 600px;
    max-width: 60rem;
    margin: 0 auto;
    padding: 0 16px;
    padding: 0 1.6rem;
}/* Action button */.action-button {
    background-color: #CDFC4E;
    border: 3px solid rgb(164, 202, 62);
    border: .3rem solid rgb(164, 202, 62);
    color: rgb(144, 176, 55);
    font-weight: bold;
    font-size: 32px;
    font-size: 3.2rem;
    margin-bottom: 16px;
    margin-bottom: 1.6rem;
    padding: 24px;
    padding: 2.4rem;
    width: 100%;
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
}.action-button:disabled {
        opacity: .5;
    }@media (min-width: 45rem) {.action-button {
        margin-bottom: 4.8rem
}
    }/* Button */.button {
    background-color: #CDFC4E;
    border: 3px solid rgb(164, 202, 62);
    border: .3rem solid rgb(164, 202, 62);
    border-top-left-radius: 125px 25px;
    border-top-right-radius: 10px 205px;
    border-bottom-right-radius: 20px 205px;
    border-bottom-left-radius: 185px 25px;
    color: rgb(123, 151, 47);
    font-weight: bold;
    padding: 12px;
    padding: 1.2rem;
}.button--link {
        background: none;
        border: none;
        color: rgb(144, 176, 55);
        padding: 0;
    }/* Add Option Error */.add-option-error {
    color: rgb(132, 34, 34);
    font-style: italic;
    font-size: 20px;
    font-size: 2rem;
    margin: 16px 0 0 0;
    margin: 1.6rem 0 0 0;
    padding: 0 16px;
    padding: 0 1.6rem;
}/* Add Option */.add-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 16px;
    padding: 1.6rem;
    background-color: #E8D58B;
    margin-top: 20px;
    margin-top: 2rem;
    border: 2px solid rgb(209, 192, 125);
    border: .2rem solid rgb(209, 192, 125);
    border-top-left-radius: 28px 125px;
    border-top-right-radius: 100px 30px;
    border-bottom-right-radius: 20px 205px;
    border-bottom-left-radius: 15px 225px;
}@media (min-width: 45rem) {.add-option {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row
}
    }.add-option__input {
        background-color: rgb(246, 238, 209);
        border: none;
        color: rgb(93, 85, 56);
        border: 3px solid rgb(209, 192, 125);
        border: .3rem solid rgb(209, 192, 125);
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        margin: 0 0 12px 0;
        margin: 0 0 1.2rem 0;
        padding: 12px;
        padding: 1.2rem;
        border-top-left-radius: 15px 225px;
        border-top-right-radius: 255px 15px;
        border-bottom-left-radius: 225px 15px;
        border-bottom-right-radius: 15px 255px;
    }@media (min-width: 45rem) {.add-option__input {
            margin: 0 1.2rem 0 0
    }
        }.option {
  background-color: rgb(235, 254, 184);
  border: 2px solid rgb(185, 227, 70);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 16px;
  padding: 1.6rem 1.6rem;
  margin-top: 20px;
  margin-top: 2rem;
  border-top-left-radius: 250px 15px;
  border-top-right-radius: 25px 80px;
  border-bottom-left-radius: 20px 115px;
  border-bottom-right-radius: 15px 105px;
}.option ~ .option {
    margin-top: 8px;
    margin-top: .8rem;
  }.option__text {
      color: rgb(139, 128, 83);
      font-weight: 500;
      font-size: 20px;
      font-size: 2rem;
      margin: 0;
      word-break: break-all;
  }/* Widget */.widget {
	margin-bottom: 48px;
	margin-bottom: 4.8rem;
	border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
}.widget__message {
		border-bottom: 1px solid rgb(209, 192, 125);
		border-bottom-left-radius: 25px 115px;
    	border-bottom-right-radius: 115px 15px;
		color: rgb(139, 128, 83);
		margin: 0;
		padding: 32px;
		padding: 3.2rem;
		text-align: center;
		font-size: 20px;
		font-size: 2rem;
	}/* Widget Header */.widget-header {
	background-color: rgb(251, 248, 134);
	color: rgb(162, 149, 97);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding: 16px;
	padding: 1.6rem;
	border: 5px solid rgb(232, 213, 139);
	border: .5rem solid rgb(232, 213, 139);
	border-top-left-radius: 15px 225px;
    border-top-right-radius: 25px 150px;
    border-bottom-left-radius: 25px 115px;
    border-bottom-right-radius: 155px 25px;
}.widget-header__title {
		margin: 0;
	}.ReactModalPortal > div {
    opacity: 0;
}.ReactModalPortal .ReactModal__Overlay {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: opacity 200ms ease-in-out;
    transition: opacity 200ms ease-in-out;
}.ReactModalPortal .ReactModal__Overlay--after-open {
        opacity: 1;
    }.ReactModalPortal .ReactModal__Overlay--before-close {
        opacity: 0;
    }.modal {
    background-color: rgb(246, 238, 209);
    color: rgb(93, 85, 56);
    max-width: 300px;
    max-width: 30rem;
    outline: none;
    padding: 32px;
    padding: 3.2rem;
    text-align: center;
    border: 3px solid rgb(209, 192, 125);
    border: .3rem solid rgb(209, 192, 125);
    border-top-left-radius: 15px 225px;
    border-top-right-radius: 255px 15px;
    border-bottom-left-radius: 225px 15px;
    border-bottom-right-radius: 15px 255px;
}.modal__title {
        margin: 0 0 16px 0;
        margin: 0 0 1.6rem 0;
        font-size: 30px;
        font-size: 3rem;
    }.modal__body {
        font-size: 30px;
        font-size: 3rem;
        font-weight: 400;
        margin: 0 0 32px 0;
        margin: 0 0 3.2rem 0;
        word-break: break-all;
    }

/*# sourceMappingURL=app.css.map*/